<style>
body {
  background-image: url("https://pixabay.com/photos/beach-cliff-bay-sea-ocean-418742/");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
